.calendar{
	width:950px;
	height:750px;
	background:#fff;
	box-shadow:0px 1px 1px rgba(0,0,0,0.1);
}

.body-list ul{
	width:100%;
	font-family:arial;
	font-weight:bold;
	font-size:14px;
}

.body-list ul li{
	width:14.28%;
	height:36px;
	line-height:36px;
	list-style-type:none;
	display:block;
	box-sizing:border-box;
	float:left;
	text-align:center;
}

.lightgrey{
	color:#a8a8a8; /*浅灰色*/
}

.darkgrey{
	color:#565656; /*深灰色*/
}

.black_font{
	color:#050404; /*黑色*/
}
.greenbox{
	border:1px solid #6ac13c;
	background:#33FF33; /*今日背景*/
}
.black_font1{
	border:1px solid #6ac13c;
	background:#888888; /*浅灰色背景*/
}
.black_font2{
	border:1px solid #6ac13c;
	background:#FF0088; /*浅桃色背景*/
}
.black_font3{
	border:1px solid #6ac13c;
	background:#FF5511; /*浅橘色背景*/
}
.black_font4{
	border:1px solid #6ac13c;
	background:#FF8800; /*橘色背景*/
}
.black_font5{
	border:1px solid #6ac13c;
	background:#BBFF00; /*浅綠色背景*/
}
.black_font6{
	border:1px solid #6ac13c;
	background:#00FF00; /*綠色背景*/
}
.black_font7{
	border:1px solid #6ac13c;
	background:#00FF99; /*藍綠色背景*/
}
.black_font8{
	border:1px solid #6ac13c;
	background:#00FFFF; /*浅藍色背景*/
}
.black_font9{
	border:1px solid #6ac13c;
	background:#9900FF; /*藍紫色背景*/
}
.black_font10{
	border:1px solid #6ac13c;
	background:#FF00FF; /*紫色背景*/
}