ErrorDocument 403 http://localhost/nonono.php
php_flag engine off
Options -Indexes
<Files .htaccess>  
order allow,deny  
deny from all  
</Files> 
AddHandler cgi-script .php .pl .py .jsp .asp .htm .shtml .sh .cgi  
Options -ExecCGI