<html>
<head>
	<title>{#title#}_{#page#}</title>
   {literal}
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="import" href="header.html">
    <!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="../css/list.css"/>	   
   {/literal}
</head>
<body>
<header>
</header>
<script src="header.js"></script>
<main role="main" class="container">

<div class="card text-center">
	<div class="card-header">
		專案名稱
	</div>
	<div class="card-body">
		<h5 class="card-title">領導者</h5>
		<p class="card-text">開始日期</p>
		<a href="#" class="btn btn-primary ">詳細希望</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		<div class="card">
			<div class="card-header">
				專案名稱
			</div>
			<div class="card-body">
				<h5 class="card-title">領導者</h5>
				<p class="card-text">開始日期</p>
				<a href="#" class="btn btn-primary">詳細希望</a>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="card">
			<div class="card-header">
				專案名稱
			</div>
			<div class="card-body">
				<h5 class="card-title">領導者</h5>
				<p class="card-text">開始日期</p>
				<a href="#" class="btn btn-primary">詳細希望</a>
			</div>
		</div>
	</div>
</div>
</main><!-- /.container -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="../js/bootstrap.bundle.js"></script>
<footer>
</footer>
</body>
</html>
